<div class="content">
	<div class="card">
		<div class="card-body text-center">
		<i class="icon-construction icon-3x text-warning-400 border-warning-400 border-3 rounded-round p-3 mb-3 mt-1"></i>
			<h5 class="card-title">La secci칩n de Gesti칩n Municipal est치 en desarrollo</h5>
			<p class="mb-3">Hacemos todo lo posible tener el panel disposible.<br>
				Si tiene alguna sugerencia o petici칩n nos la puede hacer llegar por medio del Centro de soporte.</p>

		</div>
	</div>
</div>